@keyframes fadeOutAndCollapse {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { 
        opacity: 0; 
        pointer-events: none;
        display: none; /* Esto elimina el espacio */
    }
}

.alert-fade {
    animation: fadeOutAndCollapse 4s forwards;
}